<div style="text-align:center">
    <a href="/">Nyemiltiv</a> |
    <a href="/food">Foods</a> |
    <a href="/beverage">Beverages</a> |
    <a href="/login">Login</a> |
    <a href="/daftar">Daftar</a>
</div>