<div style="text-align:center">
    <a href="/">Nyemiltiv</a> |
    <a href="/food">Foods</a> |
    <a href="/beverage">Beverages</a> |
    <% if(sessionId) { %>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/daftar">Daftar</a> |
        <a href="/login">Login</a>
    <% } %>
   
</div>