<ul>
    <li style="font-weight: bold; font-style: italic;"><a href="/">Nyemiltiv</a></li>
    <li><a href="/food">Foods</a></li>
    <li><a href="/beverage">Beverages</a></li>
    <% if(sessionId) { %>
    <li><a href="/logout">Logout</a></li>
    <% } else { %>
    <li><a href="/daftar">Daftar</a></li>
    <li><a href="/login">Login</a></li>
    <% } %>
</ul>