<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="/css/form.css" rel="stylesheet" type="text/css">
    <title>Nyemiltiv - Profile</title>
</head>
<%- include("../partials/navbar") %>

    <body>
        <div style="text-align:center">
            <br>
            <h1>Create Profile</h1>
            <hr>
            <% if(errors) { %>
                <p style="color:red">
                    <%= errors %>
                    <hr>
                </p>
                <% } %>
                    <form action="/profiles/add" method="post">
                        <p>
                            <label for="firstName" id="label">First Name</label>
                            <br>
                            <input style="width: 300px;" id="firstName" type="text" name="firstName"
                                placeholder="Input first name here...">
                        </p>
                        <p>
                            <label for="lastName" id="label">Last Name</label>
                            <br>
                            <input style="width: 300px;" id="lastName" type="text" name="lastName"
                                placeholder="Input last name here...">
                        </p>
                        <p>
                            <label for="address" id="label">Address</label>
                            <br>
                            <input style="width: 300px;" id="address" type="text" name="address"
                                placeholder="Input adress here...">
                        </p>
                        <p>
                            <label for="phoneNumber" id="label">Phone Number</label>
                            <br>
                            <input style="width: 300px;" id="phoneNumber" type="number" name="phoneNumber"
                                placeholder="Input phone number here...">
                        </p>
                        <p>
                            <label for="gender" id="label">Gender</label>
                            <br>
                            <select style="width: 300px;" id="gender" name="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Undefined">Undefined</option>
                                <option selected disabled hidden>-- choose gender --</option>
                            </select>
                        </p>
                        <input type="hidden" value="<%= sessionId %>" name="UserId">
                        <button type="submit">Add Profile</button>
                    </form>
        </div>
    </body>

</html>