<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar</title>
</head>
<%- include("../partials/nav-daftar")%>
<body>
    <h1>Daftar</h1>
    <form action="/daftar" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="ex: abc@mail.com">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="ex: aBeCe441">
        </div>
        <div>
            <label for="role">Role</label>
            <select name="role">
                <option selected disabled hidden>-- Pilih Role --</option>
                <option value="Admin">Admin</option>
                <option value="User">User</option>
            </select>
        </div>
        <div>
            <a href="/daftar"><button type="submit">Daftar</button></a>
        </div>
    </form>
</body>
</html>